<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Artist Hub</title>
    <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/186cf53415.js" crossorigin="anonymous"></script>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/CSS/styles.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <a class ="logo" href="/Home">ArTiSt HuB</a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-link">@Html.ActionLink("Artists", "Artists", "Artist/List")</li>
                    <li class="nav-link">@Html.ActionLink("Artforms", "Artforms", "Artform/List")</li>
                    <li class="nav-link">@Html.ActionLink("Disciplines", "Discipline", "Discipline/List")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content body">
        @RenderBody()
        <hr />
        <footer>
            <div class="footer">
                <h2>Connect Us: </h2>
                <a href="facebook.com"><img src="~/Content/Images/facebook.png" alt="Facebook Icon" /></a>
                <a href="pinterest.com"><img src="~/Content/Images/pinterest.png" alt="Pinterest Icon" /></a>
                <a href="instagram.com"><img src="~/Content/Images/instagram.png" alt="Facebook Icon" /></a>

            </div>
            <p>&copy; @DateTime.Now.Year - Artist Hub</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
